[class*="__container"] {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

body {
	background-color: rgb(47, 36, 198);
	font-family: SUSE;
	font-size: 16px;
}

body._lock {
	overflow: hidden;
}
